#contractor_list table th,
#contractor_list table td {
    font-size: 11px;
}

#contractor_list table input[type=checkbox] {
    width: 10px;
}

#contractor_list .delete_contractor {
    cursor: pointer;
}

#contractor_list .create_telegram_code {
    cursor: pointer;
}

#contractor_list .action_select {
    margin: 15px 0 50px;
}
